<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <title>Exercise 7</title>
        <style>
            .field {
                width: 400px;
                height: 400px;
                margin:0 auto;
            }
        </style>
    </head>
    <body>
        <fieldset class = 'field'>
            <legend>Interesting application form</legend>
        <fieldset>
            <legend>What is your name?</legend>
            <input type = "text"; width = 100px>
        </fieldset>
        <fieldset class = 'option1'>
            <legend>What is your favorite color?</legend>
            <input type ="radio" id = "Red" name = 'color'> <label for = 'Red'>Red</label><br>
            <input type ="radio" id = "Green" name = 'color'> <label for = 'Green'>Green</label><br>
            <input type ="radio" id = "Blue" name = 'color'> <label for = 'Blue'>Blue</label><br>                
            <input type ="radio" id = "O" name = 'color'> <label for = 'O'>Ohter <input type = 'text'></label>
        </fieldset>
        <fieldset>
        <legend>Would you like to become a developer</legend>
            <input type ="radio" id = "Yes"> Yes <br>
            <input type ="radio" id = "Ano"> Ano <br>
            <input type ="radio" id = "Igen"> Igen <br>
            <input type ="radio" id = "是"> 是 
        </fieldset>
        <fieldset>
            <legend>Why would you like to become a developer?</legend>
            <input tyee = 'text', id = 'opinion'>
        </fieldset>
        <br>
        <input type ="submit", name = 'submit'>
        </fieldset>
    </body>
</html>