<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Greet John</title>
</head>
<body>
    <div class = 'topnav'>
        <a href="greet">Random Language</a>
        <a href="greet2">Random Language2</a>
        <a href="product">Products</a>
        <a href="posts">Posts</a>
        <a href="articles">Article</a>
    </div>
    <h1>{{Hello}}, John!</h1>
</body>
</html>