<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>
    {% for i in post[1] %}
    <articale>
        {% for j in post[0] %}
            {% if i['author'] == j['id'] %}
                <h1><a href="#p{{i['id']}}">{{j['name']}}¶{{i['id']}}</a></h1>  
             {% endif %}
        {% endfor %}
        </h1>
        <p>{{i['content']}}</p>
        <!-- <p>Like by 
            {% for j in post[0] %}
                {% if i['id'] in j['likes']%}
                    {{j['name']}},
                {% endif %}
            {% endfor %}
        </p> -->
        <p>
            {% if i['id'] in post[0][0]['likes'] and i['id'] in post[0][1]['likes']%}
            Like by {{post[0][0]['name']}}, {{post[0][1]['name']}}
            {%elif i['id'] in post[0][0]['likes'] and i['id'] not in post[0][1]['likes']%}
            Like by {{post[0][0]['name']}}
            {%elif i['id'] not in post[0][0]['likes'] and i['id'] in post[0][1]['likes']%}    
            Like by {{post[0][1]['name']}}
            {% endif %}
        </p>
    </articale>
    {% endfor %}
</body>
</html>