<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
</head>
<body>
    <header>Sign Up</header>
    <form action='/submit_signup' method="POST">
        <p>Email: <input type="text" name="email"></p>
        <p>Username: <input type="text" name="uname"></p>
        <p>Password: <input type="text" name="pin"></p>
        <p><input type="submit" value="submit"></p>
    </form>
</body>
</html>