body {
    background-image: url("logo.svg");
}
h1 {
    margin: 0 auto;
    text-align:center;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.068);
    width: 80%;
}
div {
    margin: 0 auto;
    width: 50%;
}



